body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}



/*////////////////////////// Navbar /////////////////*/

.hamburguer {
  border: none;
}

.logo {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 4rem;
  width: auto;
}

.navbar ul li a {
  font-size: 1.10em;
}



/*////////////////////////// Nav ////////////////////*/

.main-container {
  height: 700px;
}

.nav-div {
  background-image: url("./Components/nav3.jpg");
  height: 700px;
  width: auto;
  /*position: relative;*/
  background-position: top;
  background-repeat: no-repeat;

}

.rigth-side {
  height: 700px;
}

.div-title {
  margin-top: 4rem;
  max-width: 65%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.div-title h1 {
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  font-size: 1.25em;
}

.div-title p {
  margin-top: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  font-size: 1em;
}

.emoji {
  max-width: 65%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.emoji p {
  font-size: 1.5rem;
}

.carousel-item {
  height: 600px;
}

/*////////////////////////// Section ////////////////////*/
.cards-container {
  flex-wrap: wrap;
}

.links-container h3 {
  font-size: bold;
}

.card {
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/*////////////////////////// Slider ////////////////////*/
.slider-container {
  margin-top: 6rem;
  background-color: #fffffe;
}

.card img {
  height: 6rem;
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.title-slider h4 {
  font-size: 2em;
  color: #5cb85c;
  font-size: bold;
  text-shadow: 2px 1px 1px green;
  text-decoration: underline;
}

.title-slider p {
  font-size: 1.5em;
  color: green;
}



/*////////////////////////// Prices ////////////////////*/

.promo-tittle-div h5 {
  margin-top: 7rem;
  color: #fffffe;
  font-size: 3.5em;
  font-weight: bold;
  text-align: center;
}

.prices img {
  height: 1000px;
  width: 100%;
  position: center;
}




/*/////////////////////////// 992px ///////////////////////////////*/
@media(max-width:992px) {
  .div-title {
    max-width: 90%;
  }
}



/*/////////////////////////// 570px ///////////////////////////////*/
@media(max-width:570px) {

  .hamburguer {
    font-size: 0.75rem;
    border: none;
  }

  .main-container,
  .nav-div,
  .rigth-side {
    height: 600px;
  }

  .div-title h1 {
    font-size: 1em;
  }

  .div-title p {
    font-size: 0.75em;
  }

  .div-title {
    margin-top: 2rem;
  }

  .emoji {
    margin-top: 2rem;
  }

  .emoji p {
    font-size: 1rem;
  }

  .prices img {
    height: 450px;
    width: auto;
  }
}



/*////////////////////////// 570px ///////////////////////////////*/
@media(max-width: 570px) {

  .links-container h3 {
    font-size: 1.5em;
  }

  .title-slider h4 {
    font-size: 1.25em;
  }

  .title-slider p {
    font-size: 0.75em;
  }

}


/*////////////////////////// 412px ///////////////////////////////*/
@media(max-width:412px) {


  .div-title h1 {
    font-size: 0.75em;
  }

  .div-title {
    max-width: 98%;
  }

  .emoji {
    max-width: 80%;
  }

  .emoji p {
    font-size: 0.75rem;
  }

}


/*////////////////////////// 358px ///////////////////////////////*/
@media(max-width:358px) {
  .text-main {
    display: none;
  }
}