body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.navbar {
  max-height: 15vh;
}

.logo {
  margin-top: 0px;
  margin-bottom: 0px;
  max-height: 15vh;
  width: auto;
}

.navbar ul li a {
  font-size: 1.10em;
}

.nav-div {
  background-image: url("./Components/nav3.jpg");
  height: 85vh;
  width: auto;
  background-position: top;
  background-repeat: no-repeat;

}

.div-title {
  margin-top: 2.5rem;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.div-title h1 {
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  font-size: 1.25em;
}